html{
    scroll-behavior: smooth;
    /* scrollbar-color: #986BD3; */
    cursor: url('/images/customCursor.png'),crosshair;
}

body{
    background-color: #161616;
}

h1{
    color: white;
    font-family: 'Tourney',sans-serif;
}


.tourney-heading {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 50px;
}

#hero-section{
    height: 625px;
    width:100%;
    /* background-color: white; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#logo{
    color: white;
    font-family: 'Monomaniac One', sans-serif;
    font-size: 45px;
    position: absolute;
    left: 30px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 2px;
    /* border: 2px solid white; */

}

#navBar a{
    color: white;
    text-decoration: none;
}


#navBar{
    position: absolute;
    /* right: 10; */
    right: 30px;
    top: 10px;
    height: 50px;
    /* border: 2px solid white; */
    /* text-align: center;;  */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gugi', Arial, Helvetica, sans-serif;
    font-size:16px;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; */
}

#homeText{
    width: 100%;
    height: 559px;
    /* border: 2px solid red; */
    top: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.title{
    width: 100%;
    color: #A6A6A6;
    font-family: 'Monomaniac One';
    text-align: center;
    font-size: 30px;
    /* border: 2px solid white; */
}

#mainText{
    color:white;
    /* border: 2px solid blue; */
    font-family: 'Tourney';
    font-size: 60px;
    
}

.bodyText{
    color: #A6A6A6;
    font-family: 'Gugi';
    width: 600px;
    font-size: 16px;
    text-align: center;
}

#Buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;   
}

.button{
    /* border: 2px solid red; */
    padding: 10px 40px;
    font-size: 25px;
    border-radius: 6px;
    font-family: 'Monomaniac One';
    margin-top: 30px;
    border-radius: 15px;
    color: black;
    background-color: #ECECEC;
    opacity: 80%;
    transition: 0.5s;
    letter-spacing: 5px;
}

.button:hover{
    background-color: #986BD3;
    color: white;
}


#skills-section{
    /* border: 2px solid blue; */
    width: 100%;
    height: 625px;
    justify-content: center;
}

#skillsText{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: baseline;
    height: 170px;
    /* border: 2px solid purple; */
    margin-top: 10px;
}
.title2{
    color:#A6A6A6;
    font-family: 'Monomaniac One', sans-serif;
    font-size: 21px;
    text-align: center;
    width: 100%;
    /* border: 2px red solid; */
}

#skillsIcons{
    font-size: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.material-symbols-outlined{
    font-size: 50px;
    color: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icons{
    /* border: 2px white solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#workSection{
    /* border: 2px solid white; */
    justify-content: center;
    width: 100%;
    height: 800px;
    overflow: scroll;
    scrollbar-width: none;
    overflow-y: scroll;
}

#workText{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: baseline;
    height: 170px;
    /* border: 2px solid purple; */
    margin-top: 10px;
}

#projectSlide{
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerContact{
    flex: 1;
}

#contactSection{
    /* border: 2px solid blue; */
    margin-top: 100px;
    height: 580px;
    display: flex;
    /* padding: 20px; */
}

#contactText{
    color: white;
    text-align: left;
    padding-left: 60px;
}

#contactIcons{
    height: 450px;
    width: 400px;
    /* border: 2px solid green; */
    margin-left: 50px;
    flex: 1;
    margin-top: 90px;
}

.Icon{
    /* height: 100px; */
    width: 170px;
    /* border: 2px solid white;  */
    color: white;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

.iconText{
    text-align: left;
    /* border: 2px solid red;    */
}

#contactForm_container{
    flex: 1;
    /* border: 2px solid purple; */
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    background-color: #D9D9D9;
    height: 400px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.formInput{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-family: "Gugi", sans-serif;
    color: #A6A6A6;
}

#formInput_msg{
    width:350px;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;   
    font-family: "Gugi", sans-serif;
    color: #A6A6A6;
}

#formInput_button{
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px; 
    font-family: "Gugi", sans-serif;
    color: #A6A6A6;
}


#footer{
    background-color: #D9D9D9;
    height: 50px;
    width: 100%;
}